html {background: #000 url('../img/back.png') top; color: #fff}
body {padding-top: 1em; padding-bottom: 2em;}

.clear {clear: both;}
.goog {width: 468px; height: 60px; float: right;}

#centered {margin-left: auto; margin-right: auto; width: 1080px;}
#footer {margin-left: auto; margin-right: auto; width: 1080px; text-align: center; margin-top: 2em;}

.content {padding-left: 0.5em;}
.alignright {float: right; margin: 0.4em;}
.content .head {margin-bottom: 2em;}

.content {font-family: "Droid Sans", "Bitstream Vera Sans", "Dejavu Sans", sans; font-size: 1.1em;}

.katimg {float: left;}

.header {padding-bottom: 2em; text-align: left; padding-left: 4em; padding-right: 4em; padding-top: 1em; margin-right: 0; color: #63954A; width: 960px;}
.header h1 {font-size: 2.5em; color: #63954A; font-family: 'Andada', serif;}
.payoff {font-family: 'Tulpen One', cursive; font-size: 1.5em;}
.logo {float: left; margin-right: 2em;}

.page {/* TODO PATH */ background: url('../img/rightgrad2.png') transparent repeat-y left top; color: #fff; border: 0.15em solid #1F8F4E; border-radius: 10px 10px 10px 10px; -web-kit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius:10px; margin-left: 0em; width: 1080px;}

.content {/* TODO PATH */ background: rgb(0, 0, 0); background: rgba(0,0,0,0.60) url('../img/topgrad2.png') repeat-x top left; border-top-right-radius: 10px; border-bottom-right-radius: 10px; -web-kit-border-radius-topright: 10px; -web-kit-border-radius-bottomright: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; -khtml-border-radius-topright:10px; -khtml-border-radius-bottomright:10px; padding-bottom: 2em; padding-top: 2em; padding-left: 2em}

.screen-reader-text, .hide {display: none;}

#searchsubmit {background: url("../img/search.png") no-repeat scroll 0 0 #FFFFFF; border: medium none; cursor: pointer; display: block; position: relative; height: 20px; text-indent: -9999px; text-transform: capitalize; top: 22px; left: 130px; width: 20px;}

#q {background: none repeat scroll 0 0 #FFFFFF; width: 110px; border: 1px solid #9E9E9E; padding: 5px 25px 5px 5px; margin-left: 10px; margin-bottom: 10px;}

.content .superhead {margin-bottom: 4em;}
.content .head .date {float: left; width: 100%}
.tags {float: right; padding-right: 1em}
.tags a {display: inline; padding: 0 0.5em 0 0;}

.content h5, .content h6 {color: #7CAF62; font-family: 'Andada', serif;}
.content h3, .content h4 {color: #82AF6B; font-family: 'Andada', serif;}
.content h1, .content h2 {color: #63954A; font-family: 'Andada', serif;}
.content h1 a { color: #63954A; font-weight: normal; text-decoration: none; cursor: pointer;}
.content h1 a:hover { color: #73A55A; text-decoration: underline;}


.nav li {margin-top: 0.5em; margin-bottom: 0.5em; margin-left: 0.5em; list-style: disc; list-style-position: inside;}
.nav .twitli {list-style: outside url("../img/twit_s.png"); margin-left: 1.9em}
.nav {font-size: 80%}
.nav h2 {color: #63954A; font-weight: bold; font-family: 'Andada', serif;}
.nav .item {border-bottom-style: groove; border-bottom-width: 1px}
.leftCol {width: 170px; border-top-right-radius: 10px; border-right-right-radius: 10px;}

.turners {margin-right: 2em; margin-top: 2em;}
.turners .left {float: left;}
.turners .right {float: right;}

a {font-weight: normal;}

.tag {float: right; margin: 0 10px 10px 0;}
.tag .tbod { padding-right: 4px;}
.tag a {margin-left: 5px; line-height: 32px;}

.katimg {margin-right: 1.5em; margin-bottom: 1em; margin-left: 1em;}

/*style fixes*/
ul li, ol li {list-style-position: outside; padding-bottom: 0.5em }
ul li {list-style-type: circle}
ol li {list-style-type: decimal}
td, th {padding: 0.3em; border: 1px black solid}
td {background-color: #F8F8F8}
th {background-color: #EEE}

table tr:first-child td {border-top: 0; padding-top: 0.5em}
table tr:last-child td {border-bottom: 0; padding-bottom: 0.5em}
table tr td:first-child {border-left: 0; padding-left: 0.5em}
table tr td:last-child {border-right: 0; padding-right: 0.5em}
table {margin: 1em 5em 1em 5em}

.content {padding-left: 2em; padding-right: 2em;}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown ul, .markdown ol, .markdown dl, .markdown p, .markdown blockquote {padding: 0}
.markdown .head h1 {padding: 0;}
.markdown p {padding-top: 0.5em; padding-bottom: 0.5em; text-align: justify; line-height: 1.2em;}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {padding-top: 1em; font-family: 'Andada', serif;}
.markdown ul, ol {margin-left: 2em; padding-top: 0.5em; padding-bottom: 0.5em;}
a { color: #63954A; font-weight: normal; text-decoration: none; cursor: pointer;}
a:hover { color: #73A55A; text-decoration: underline;}
a:visited { color: #43752A; font-weight: normal; text-decoration: none; cursor: pointer; }

#disqus_thread {margin-right: 2em;}

.highlight {
    background: none #FFF;
    border: 1px solid #000;
}
.highlight .c {
    color: #886;
    font-style: italic;
}
.highlight .err {
    background-color: #DCC;
    color: #A22;
}
.highlight .k {
    font-weight: bold;
}
.highlight .o {
    font-weight: bold;
}
.highlight .cm {
    color: #886;
    font-style: italic;
}
.highlight .cp {
    color: #888;
    font-weight: bold;
}
.highlight .c1 {
    color: #886;
    font-style: italic;
}
.highlight .cs {
    color: #888;
    font-style: italic;
    font-weight: bold;
}
.highlight .gd {
    background-color: #FCC;
    color: #000;
}
.highlight .gd .x {
    background-color: #F99;
    color: #000;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gr {
    color: #900;
}
.highlight .gh {
    color: #888;
}
.highlight .gi {
    background-color: #CFC;
    color: #000;
}
.highlight .gi .x {
    background-color: #9F9;
    color: #000;
}
.highlight .go {
    color: #888;
}
.highlight .gp {
    color: #666;
}
.highlight .gs {
    font-weight: bold;
}
.highlight .gu {
    color: #007;
    font-weight: bold;
}
.highlight .gt {
    color: #A00;
}
.highlight .kc {
    font-weight: bold;
}
.highlight .kd {
    font-weight: bold;
}
.highlight .kp {
    font-weight: bold;
}
.highlight .kr {
    font-weight: bold;
}
.highlight .kt {
    color: #567;
    font-weight: bold;
}
.highlight .m {
    color: #0AA;
}
.highlight .s {
    color: #D25;
}
.highlight .na {
    color: #077;
}
.highlight .nb {
    color: #07C;
}
.highlight .nc {
    color: #467;
    font-weight: bold;
}
.highlight .no {
    color: #077;
}
.highlight .ni {
    color: #707;
}
.highlight .ne {
    color: #A00;
    font-weight: bold;
}
.highlight .nf {
    color: #A00;
    font-weight: bold;
}
.highlight .nn {
    color: #666;
}
.highlight .nt {
    color: #007;
}
.highlight .nv {
    color: #077;
}
.highlight .ow {
    font-weight: bold;
}
.highlight .w {
    color: #CCC;
}
.highlight .mf {
    color: #0AA;
}
.highlight .mh {
    color: #0AA;
}
.highlight .mi {
    color: #0AA;
}
.highlight .mo {
    color: #0AA;
}
.highlight .sb {
    color: #C25;
}
.highlight .sc {
    color: #C25;
}
.highlight .sd {
    color: #C25;
}
.highlight .s2 {
    color: #C25;
}
.highlight .se {
    color: #C25;
}
.highlight .sh {
    color: #C25;
}
.highlight .si {
    color: #C25;
}
.highlight .sx {
    color: #C25;
}
.highlight .sr {
    color: #0A3;
}
.highlight .s1 {
    color: #C25;
}
.highlight .ss {
    color: #A07;
}
.highlight .bp {
    color: #AAA;
}
.highlight .vc {
    color: #077;
}
.highlight .vg {
    color: #077;
}
.highlight .vi {
    color: #077;
}
.highlight .il {
    color: #0AA;
}
