<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="/css/master.css" type="text/css" />

  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Tulpen+One|Andada|Droid+Sans|Droid+Sans+Mono' rel='stylesheet' type='text/css'>

  <title>{{ page.title }}</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/" />
</head>

<body>

<div id="centered">

  <div class="head header">
    <div class="goog">
       <script type="text/javascript"><!--
       google_ad_client = "pub-5886427669634294";
       /* SymKat-Banner-RC */
       google_ad_slot = "7901232131212313126405618";
       google_ad_width = 468;
       google_ad_height = 60;
       //-->
       </script>
       <script type="text/javascript"
       src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
       </script>
    </div>
    <div id="sitetitle">
      <img src="/img/mylogo.png" class="logo" alt="XHTML Will Eat Your Children" title="XHTML Will Eat Your Children"/>
      <h1>Simcop's blog of nothing</h1>
      <p class="payoff">Why are you even here</p>
    </div>
  </div>

<div class="page">

{% include _nav.tmpl %}
